<!doctype html>
<html>
  <head>
    <title>Evidence Based Academic Writing Assistant</title>
    <style>
@media (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  html {
    font-size: 10px;
  }
}

* {
  box-sizing: border-box;
}

.editor .sentence:hover {
  background-color: #f5f6ff;
}

.editor .sentence.active {
  background-color: #f5f6ff;
}

.editor .marker {
  border-bottom: 2px solid #f299a8;
}

    </style>
  </head>
  <body>
    <div id="app"></div>

  </body>
</html>
